.track {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.settings {
    display: flex;
    flex-direction: column;
    background-color: #575757;
    border-right: 2px solid #000000;
    width: 25vw;
    height: 22vh;
    display: flex;
}

.settings h4 {
    margin: 1vh 2vw;
    color: #f2f2f2;
    font-size: 1.5em;
}

.settings .actions {
    margin-left: 2vw;
    justify-content: flex-start;
}

.settings .actions svg {
    padding: 0.5vh 0.5vw;
    border: 1px solid #000000;
}

#mute,
#headphones {
    cursor: pointer;
}

#mute {
    color: white;
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#mute.clicked {
    background-color: #119e74;
}

#headphones {
    color: white;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#headphones.clicked {
    background-color: #e2941f;
}

.waveform {
    align-content: center;
    background-color: #2e2e2e;
    width: 75vw;
    height: 22vh;
}

.muted {
    filter: brightness(0);
}